#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* // CSS Variables for themeing */
:root {
  --brand-color: #8f5f3d;
  --brand-color-light: #ac7d55;
  --brand-color-dark: #5c3a21;

  --bg-rose: #ffe8e1;
}

/* -------------------- Footer CSS -------------------- */
.sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--brand-color);
  color: white;
  text-align: center;
  padding: 1rem;
}

/* -------------------- Nav Page CSS -------------------- */
.c-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  background-color: var(--bg-rose) !important;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.c-nav-link {
  color: var(--brand-color) !important;
}
.c-nav-link:hover {
  color: var(--brand-color-light) !important;
}
.c-nav-link.active {
  color: var(--brand-color-light) !important;
}

.nav-button
{
  background-color: var(--brand-color) !important;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.nav-button:hover
{
  background-color: var(--brand-color-light) !important;
}
.nav-button:active
{
  background-color: var(--brand-color-light) !important;
}