#root {
  width: 100% !important;
  margin: 0 0;
  /* padding: 0.1rem; */
  text-align: center;
  /* background-color: var(--bg-rose); */
}
/* // CSS Variables for themeing */
:root {
  --brand-color: #8f5f3d;
  --brand-color-light: #b8865a;
  --brand-color-dark: #5c3a21;
  --brand-color-very-dark: #3b2a1f;
  --bg-rose: #ffe8e1;
  --brand-green: #2c3b2b;
  --brand-green-light: #60825e;
  --brand-green-very-light: #a8c6a8;
  --brand-green-dark: #1f2a1f;
}

/* -------------------- Footer CSS -------------------- */
.sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: var(--brand-green-light);
  color: white;
  text-align: center;
  padding: .8rem;
}
.sticky-footer a {
  color: white;
  text-decoration: none;
}
.sticky-footer h4 {
  margin: 0;
  font-size: 1rem;
}

/* -------------------- Nav Page CSS -------------------- */
.custom-navbar {
  width: 100% !important;
  padding: 10px 20px;
  /* background-color: #ffff !important; */
  justify-content: space-evenly !important;
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(30px); /* Frosted glass effect */
}
.custom-navbar .c-nav-brand {
  color: var(--brand-color-dark) !important;
  font-size: 1.5rem;
  font-weight: bold;
}
.custom-navbar .c-nav-link {
  color: var(--brand-color-dark) !important;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 10px;
}
.custom-navbar .c-nav-link:hover {
  color: var(--brand-color) !important;
}
.custom-navbar .c-nav-link:focus {
  color: var(--brand-color) !important;
}
.custom-navbar .c-nav-link.active {
  color: var(--brand-color) !important;
}

.custom-navbar .nav-button
{
  background-color: var(--brand-color-dark) !important;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.custom-navbar .nav-button:hover
{
  background-color: var(--brand-color) !important;
}
.custom-navbar .nav-button:active
{
  background-color: var(--brand-color) !important;
}

/* -------------------- Login Page CSS -------------------- */
.login-page {
  background: url('./assets/cafe-login.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 6%;
  height: 80vh;
  width: 100%;
}

.login-card {
  background-color: rgba(111, 83, 56, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--brand-color-light); /* Subtle border */
  border-radius: 12px; /* Rounded corners */
  width: 370px; /* Fixed width for the card */
  /* height: 400px;  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff; /* White text */
  font-family: "Arial", sans-serif;
}

.login-page h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.login-card .form-control {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: #ffffff;
  padding: 0.3rem;
  margin-bottom: -20px;
}
.login-card .form-control:focus {
  background: rgba(255, 255, 255, 0.3);
  color: #ffffff;
  outline: none;
  box-shadow: none;
}

.login-card .form-control::placeholder {
  color: var(--bg-rose);
  opacity: 0.6; /* Adjust opacity for placeholder */
}

/*-------------------------- Register Page CSS -------------------- */
.register-page {
  background: url('./assets/cafe-login.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 6%;
  height: 80vh;
  width: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
  .login-page {
    justify-content: center;
    padding: 0 2%;
    margin: 100px 0;
    height: auto;
  }
  .login-card {
    width: 90%;
    padding: 2rem;
  }
  .register-page {
    justify-content: center;
    padding: 0 2%;
    margin: 100px 0;
    height: auto;
  }
  .register-card {
    width: 90%;
    padding: 2rem;
  }
  .map-page {
    padding: 0 1%;
    height: auto;
    margin-left: -30px;
  }
  .map {
    height: 60vh;
  }
}

/* Navbar Media Queries */
@media (max-width: 768px) {
  .custom-navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
  }
  .custom-navbar .c-nav-link {
    margin: 2px 2px;
  }
  .user-functions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
  }
  .c-nav.brand {
    margin-left: 20px;
  }
}




