
.home-page {
  width : 100% !important;
  background-color: #fff;
  min-height: 100vh;
  background: linear-gradient(30deg, #d7c8af 0%,#c9aa78 50%,#c1a06b 51%,#d8c4a4 100%);
  background-size: cover;
  border-radius: 30px;
}
/* Subheading (under title) */
.subheading {
  font-size: 1.2rem;
  color: #694831;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

/* Headings */
h1.fw-bold,
p.lead,
h3,
.section-heading {
  color: #694831;;
  font-weight: 700;
}

#Hero {
  margin-top: 100px;
  display: flex;
  flex: wrap;
  align-items: right;
  justify-content: center;
  margin-bottom: 100px;
}
#Hero-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 50px;
}
.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.hero-img {
  height: 300px;
  width: 500px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 auto;
}
#img-banner {
  padding-top: 10px;
  max-height: 300px;
  max-width: 550px;
 }
#Random {
  margin-bottom: 100px;
}
.link {
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--brand-green-dark);
  text-decoration: none;
  /* font-weight: bold; */
}
.name {
  font-weight: bold;
  color: var(--brand-color-dark);
}
#About {
  margin-bottom: 100px;
  padding: 10px;
  background-color: var(--brand-color);
  color: #fff;
  border-radius: 20px;
}
#About .section-heading {
  color: #fff;
}
#Signup {
  margin-bottom: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--brand-color);
  color: #fff;
  border-radius: 20px;
}
#Signup .section-heading {
  color: #fff;
}
#Signup .btn {
  background-color: var(--brand-green-light);
  color: #fff;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
}
#Signup .btn:hover {
  background-color: var(--brand-green-dark);
}
.carousel-indicators [data-bs-target] {
  background-color: var(--brand-color-dark);
  color: whitesmoke;
  border-radius: 50%;
  width: 6px;
  height: 6px;
}

/* Review Cards */
.review-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 10px;
}

.review-card {
  background-color:antiquewhite;
  color: #694831;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  margin: 10px 10px 10px 0;
  width: 260px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.review-card:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}
.review-card p {
  margin: 0.4rem;
  font-size: 1rem;
}

/* Media Queries */
@media (max-width: 768px) {
  #Hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #Hero-left {
    margin-left: 0;
  }
  .hero-img {
    width: 100%;
    height: auto;
  }
  .review-card {
    width: 100%;
  }

  #About {
    font-size: 0.8rem;
  }
  #About i {
    font-size: 1.5rem;
  }
}
@media (max-width: 1000px) {
  #Hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
  }
  .hero-img {
    width: 80%;
    height: auto;
  }
  #Hero-left {
    margin-left: 0;
  }
  .review-card {
    width: 100%;
  }
}